<form action="/homepage" method="post">
    
    <label for="id">id:</label><br>
    <input type="text" id="id" name="id" ><br>

    <label for="category">category:</label><br>
    <input type="category" id="category" name="category" ><br>

    <label for="category_type">category_type:</label><br>
    <input type="text" id="category_type" name="category_type" ><br>

    <label for="category_id">category_id:</label><br>
    <input type="text" id="category_id" name="category_id" ><br>

  </form>