<html>
  
  <form action="/login" method="post">
    <label for="EMAIL">EMAIL:</label><br />
    <input type="text" id="EMAILID" name="EMAIL" /><br />
    <label for="PASSWORD">PASS WORD:</label><br />
    <input type="text" id="PASSWORD" name="PASSWORD" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
</html>
