<html>
  <form action="/ProductDetailsPage" method="post">
    
    <a href="http://localhost:3000/ProductDetailsPage">ProductDetailsPage</a>
    <label for="product_name">product_name:</label><br>
    <input type="text" id="product_name" name="product_name" ><br>
    


  </form>
  </html>