
<html>

    <form action="/registration" method="post">
      <label for="ID">ID:</label><BR>
        <input type="text" id="ID" name="id"><br>
        <label for="EMAIL">EMAIL:</label><br>
        <input type="text" id="EMAILID" name="email" ><br>
        <label for="PASSWORD">PASS WORD:</label><br>
        <input type="text" id="PASSWORD" name="password" ><br><br>
        
        <input type="submit" value="Submit">
      </form>

</html>